/*Global style*/
body{
  background-color: #F44336;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

nav.navbar.navbar-default {
    background-color: #fff;
}

.jumbotron{
  background-color: inherit;
}

.search-bar{
  margin-bottom: 40px;
}
/*applying color to search-bar text*/
.search-bar input:hover, .search-bar input:focus{
  color: #0275d8;
}

/*list item*/

.list-item-pill {
  padding : 0;
}
/* minimum height for each pill */
.list-group-item {
    min-height: 8em !important;
}
/* pill content override default properties for anchor */
.list-item-pill a{
  color: #F44336;
  text-decoration: none;
  margin-bottom: 10px;
}
/* changing pill content color on hover */
.list-item-pill a:hover{
  color: #0275d8;
  text-decoration: none;
}
/* aligning pill content with search bar placeholder*/
.list-item-pill .list-group-item{
  padding: 12px;
}
/* shadow effect on hover */
.list-item-pill .list-group-item:hover{
  box-shadow: 1px 1px 10px #e4e4e4;
}
