<!DOCTYPE html>
<html>
<head>
  <title>Directives Practise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/custom.css">
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/index.controller.js"></script>
  <script src="scripts/directives/list.item.js"></script>
</head>
<body ng-app="testApp">
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            David Chu's Restaurant
          </a>
        </div>
      </div>
    </nav>
  </header>
  <section>
    <div class="container" ng-controller="indexCtrl as index">
      <div class="jumbotron">
        <h1 class="text-center">Mouth Watery Treats</h1>
        <p class="text-center">Search the most popular dishes available in the city,
          premium quality food prepared with love.</p>
      </div>
      <form class="search-bar">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="index.search_value" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-success" ng-click="index.search()">
              Search
            </button>
          </div>
        </div>
      </form>
      <div class="list-group">
        <list-item class="list-group-item" ng-repeat="item in index.items"></list-item>
      </div>
    </div>
  </section>
</body>
</html>
